.badge {
    font-size: medium;
    position:absolute;
    top:-2%;
    right:-3%;
    padding:5px;
    color:white;
}
.java {
    background-color: #5e2525;
}

.js {
    background-color: #ecd84e;
    color: black;
}   