.badge {
    font-size: medium;
    position:absolute;
    top:-2%;
    right:-3%;
    padding:5px;
    color:white;
}

.java {
    background-color: #5e2525;
}

.js {
    background-color: #ecd84e;
    color: black;
}

.cpp {
    background-color: rgb(108, 149, 200);
}

.py {
    background-color: rgb(68, 115, 160);
}

.glsl {
    background-color: rgb(223, 102, 102); 
}