$brightBlue: rgb(0, 255, 230);
$hoverColor: $brightBlue;
$hoverTextColor: black;

$regularColor: $brightBlue;
$regularBorderColor: white;

.slidebtn {
    background: none;
    border: 1px solid $regularBorderColor;
    border-radius: 0%;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;

    color: $regularColor;
    transition-duration: 0.85s;

    &:hover,
    &:focus { 
        border-color: $hoverColor;
        color: $hoverTextColor;
        box-shadow: inset 15em 0 0 0 $hoverColor;
    }
}