$brightBlue: rgb(0, 255, 230);

.typewriter {
  //border-right: solid 3px $brightBlue;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;

  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             //animated-cursor 600ms steps(29,end) infinite;
}
/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 7em;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: $brightBlue}
  to{border-right-color: transparent;}
}