@import 'button';
@import 'typewriter';
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*
 * Globals
 */
$coverBorderSkew: -8deg;
$slantDuration: 1.7s;

/*
 * Structure
 */
html, 
body {
  height: 100%;
  background-color: rgb(140, 153, 154);
  //background-color: rgb(40, 53, 67);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;

  font-family: 'Cabin', sans-serif;
}

// .cover-container {
//   background-image: url("../bg.jpg");
// }

/*
 * Cover
 */
.cover {
  .cover-heading {
    font-size: 5em;
  }

  .cover-heading,
  .cover-buttons {
    opacity: 0;
    transform: skew(-$coverBorderSkew); //so when they fade in they're straight
  }

  border: 5px solid white;
  background-color: rgb(36, 51, 67);
  padding: 5% !important;
}

//slant
.cover {
  animation: borderSlant $slantDuration ease-in-out 0s 1 forwards !important;

  .cover-heading,
  .cover-buttons {
    animation: fade 1s ease-in-out $slantDuration 1 forwards !important;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes borderSlant {
  0% {
    transfrom: skew(0deg);
  }
  // 90% {
  //   transform: skew(15deg);
  // }
  100% {
    transform: skew($coverBorderSkew);
  }
}

.jumbotron {
  transform: skew($coverBorderSkew);

  border-radius: 0%;
  border: 5px solid white;
  background-color: rgb(36, 51, 67);
  padding: 5% !important;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}