@import 'button', 'cover', 'badge', 'icons';

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*
 * Structure
 */
html, 
body {
  height: 100%;
  background-color: rgb(140, 153, 154);
  //background-color: rgb(40, 53, 67);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;

  font-family: 'Cabin', sans-serif;
}

.jumbotron {
  transform: skew($coverBorderSkew);

  border-radius: 0%;
  border: 5px solid white;
  background-color: rgb(36, 51, 67);
  padding: 1% 5% !important;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.portrait {
  height: 100%;
  width: 100%;
}

.bio-card {
  font-size: 20px;
}