@import 'button';
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*
 * Globals
 */
$coverBorderSkew: -7.5deg;

/*
 * Structure
 */
html, 
body {
  height: 100%;
  background-color: rgb(40, 53, 67);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;

  font-family: 'Cabin', sans-serif;
}

.cover-container {
  background-image: url("../bg.jpg");
}


/*
 * Header
 */
.nav-masthead {

    .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgb(0, 255, 230);
        background-color: transparent;
        border-bottom: .25rem solid transparent;

        &:hover, &:focus {
            border-bottom-color: rgb(0, 255, 230);
        }

        &+.nav-link {
            margin-left: 1rem;
        }
    } 
    
    .active {
        color: #fff;
        border-bottom-color: #fff;
    }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {

  .cover-heading {
    font-size: 5em;
  }
  .cover-heading,
  .cover-buttons {
    transform: skew(-$coverBorderSkew);
  }
  .cover-text {
    padding: 0 30%;
  }

  border: 5px solid white;
  // border-top: none;
  // border-bottom: none;

  background-color: rgb(31, 41, 52);

  padding: 5% !important;

  transform: skew($coverBorderSkew);


}